@font-face{font-family:'Pictos';src:url("/fonts/pictos.eot?iefix");
src:local("Pictos"),url("/fonts/pictos.woff") format("woff"),url("/fonts/pictos.ttf") format("truetype"),url("/fonts/pictos.svg#webfontIyfZbseF") format("svg");font-weight:normal;font-style:normal}


.wufoo{font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;letter-spacing:.01em}

.wufoo li{width:60%}

.info{display:inline-block;
	clear:both;margin:0 0 5px 0;
	padding:0 1% 1.1em 1%;
	}

	.info[class]{display:block}

	.hideHeader .info,#payment.hideHeader li.first{display:none}

	.info h2{
		font-weight:normal;
		font-size:160%;
		margin:0 0 20px 0;
		clear:left;
		font-family: "ArchivoBlack", sans-serif;
		color: orange; }

		.info div{
			font-size:95%;
			line-height:135%;
			color:#555;
			font-family: "ArchivoBlack", sans-serif;
	}

			form ul{
				margin:0;
				padding:0;
				list-style-type:none}

				* html form ul{width:99%;zoom:1}

				form li{
					margin:10px 0;
					padding:6px 1% 9px 1%;
					clear:both;
					background-color:transparent;
					position:relative;
					-webkit-transition:background-color 350ms ease-out;
					-moz-transition:background-color 350ms ease-out;
					-o-transition:background-color 350ms ease-out;
					transition:background-color 350ms ease-out;
				}

					form ul:after,form li:after,form li div:after{
						content:".";display:block;
						height:0;
						clear:both;
						visibility:hidden}

						* html form li{
							height:1%;
							margin-bottom:-3px;
						}

							*+html form li{
								height:1%;
								margin-bottom:-3px}

								* html form li div{

									display:inline-block}

									*+html form ul,*+html form li div{
										display:inline-block}

										form li div{
											margin:0;
											padding:0;
											color:#444;
										}

											form li span{margin:0 .3em 0 0;
												padding:0;
												float:left;
												color:#444}

											label.desc {
												
												float: left;
												margin-right: 30px;
												font-family: "ArchivoBlack", sans-serif;
												color: orange;
											}



																					form span.req{
																						display:inline;
																						float:none;
																						color:red !important;
																						font-weight:bold;
																						margin:0;
																						padding:0}

																						form li div label var{font-weight:bold;font-style:normal}

																						form li div label .currently{display:none}

																						input.text,input.search,input.file,textarea.textarea,select.select{font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
																						font-size:100%;
																						color:#333;
																						margin:0;
																						padding:2px 0}

																						input.text,input.search,textarea.textarea{
																							border-top:2px solid green;
																							border-left:1px solid #c3c3c3;
																							border-right:1px solid #c3c3c3;
																							border-bottom:1px solid #ddd;
																							background:#fff url(../images/fieldbg.gif) repeat-x top;
																							border-radius: 10px;
																							background-color: lightgrey;
																							color: green;}

																							
																							select.select{padding:1px 0 0 0}

																							

																									input.other{margin:0 0 8px 25px}

																									* html select.select{margin:1px 0}
																									*+html select.select{margin:1px 0}

																									.center,form li span.center input.text,form li span.center label,form li.name span label,form li.date input.text,form li.date span label,form li.phone input.text,form li.phone span label,form li.time input.text,form li.time span label{text-align:center}

																									input.small,select.small{width:25%}

																									input.medium,select.medium{width:50%}

																									input.large,select.large{width:100%}

																									.msie[class] select.ieSelectFix{width:auto}

																									.msie[class] select.ieSelectFix.small{min-width:25%}

																									.msie[class] select.ieSelectFix.medium{min-width:50%}
																									.msie[class] select.ieSelectFix.large{width:100%}

																									textarea.textarea{width:293px;min-width:100%;max-width:100%}
																									textarea.small{height:5.5em}
																									textarea.medium{height:10em}
																									textarea.large{height:20em}

